<!Doctype HTML>

{% load staticfiles %}
<html>
<head>

<title>Anime List</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "AnmolApp/bootstrap/css/bootstrap.min.css" %}">
  <script src = "{% static "AnmolApp/bootstrap/js/jquery-1.11.2.min.js" %}"></script>
  <script src = "{% static "AnmolApp/bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>


<div class="container">
<nav role="navigation" class="navbar navbar-default">
   <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
            <li class="active"><a href="">Home</a></li>
            <li><a href="/anmolapp/animelist/">Anime List</a></li>
            <li><a href="/anmolapp/about/">About</a></li>
        </ul>
        
    </div>
</nav>
<div class="jumbotron">
<h1> Welcome {{your_name}} </h1>
</div>
<h4> This is the best site for all anime related news. Check out the latest Anime here or go to the anime list for our entire library.</h4>
<div class="row">
<div class="col-sm-6">
<h3>Shingeki No Kyojin</h3>
<img src = "{% static "AnmolApp/images/snk.jpg" %}" height = "200" />
<p><a href = "snk/" class="btn btn-success"> Go to the SNK Page &raquo; </a></p>
</div>
<div class="col-sm-6">
<h3>Tokyo Ghoul :re</h3>
<img src = "{% static "AnmolApp/images/tgre.png" %}" height = "200" />
</p><a href = "tgre/" class="btn btn-success"> Go to the TG :re Page &raquo; </a></p>
</div>
</div>
</div>

</body>
</html>