<!Doctype HTML>

{% load staticfiles %}
<html>
<head>

<title>Welcome to the AnimeList</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static "AnmolApp/bootstrap/css/bootstrap.min.css" %}">
  <script src = "{% static "AnmolApp/bootstrap/js/jquery-1.11.2.min.js" %}"></script>
  <script src = "{% static "AnmolApp/bootstrap/js/bootstrap.min.js" %}"></script>
</head>
<body>

<div class="container">

<div class="jumbotron">
	<h1> Hey! Welcome to The AnimeList </h1>
</div>

<form action="/anmolapp/home/" method="post">
	{% csrf_token %}
	<h2>Tell us your name, and we will take you to our site.</h2>
	<label for="your_name">Your name:</label>
	<input id="your_name" type="text" name="your_name">
	<input type="submit" value="Go!">
</form>
</div>

</body>
</html>